body {
    background-color: #fff !important;
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 0.8em;
}
.image-container {
    width: 100%;
    padding: 5px;
    border: 3px groove rgb(171, 163, 163);
    border-radius: 12px;
}
.image-container img {
    border-radius: 8px;
}
.bio-box {
    background-color: darkcyan;
    color: #fff !important;
    padding: 28px 10px;
}
.bio-box h1 {
    font-size: 30px;
}
.bio-box h6 {
    /* text-decoration: underline; */
    font-size: 16px;
}
.bio-box p {
    line-height: 1.15em;
}

.lang {
    text-decoration: underline;
    font-weight: 500;
}
.exp {
    padding-left: 10px;
}
ul {
    padding-left: 15px;
    line-height: 1.5em;
}